[defaults]
inventory = inventory/hosts.ini
roles_path = roles
collections_path = collections:/Users/marianikolashina/.ansible/collections:/usr/share/ansible/collections
host_key_checking = False
remote_user = ubuntu
retry_files_enabled = False
interpreter_python = auto_silent
vault_password_file = .vault_pass
stdout_callback = ansible.builtin.default
result_format = yaml
callback_whitelist = timer,profile_tasks
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ControlPath=/tmp/ansible-ssh-%%h-%%p-%%r

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
