version: '{{ docker_compose_version }}'

services:
  {{ app_name }}:
    image: {{ docker_image }}:{{ docker_tag }}
    container_name: {{ app_name }}
    ports:
      - '{{ app_port }}:{{ app_internal_port }}'
{% set env_vars = app_environment | default({}) %}
{% set has_secret = app_secret_key | default('') | length > 0 %}
{% if has_secret or env_vars | length > 0 %}
    environment:
{% if has_secret %}
      APP_SECRET_KEY: '{{ app_secret_key }}'
{% endif %}
{% for key, value in env_vars | dictsort %}
      {{ key }}: '{{ value }}'
{% endfor %}
{% endif %}
    restart: {{ docker_restart_policy }}
    networks:
      - web_app_net

networks:
  web_app_net:
    driver: bridge
